<h1> Edit this Microbrewery! </h1>

<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 border red">

				<%= render 'form' %>


    			</div>
			<div class="col-md-4"></div>
</div>