<h1>LA Metro to Microbreweries</h1>
    
    <ul>
    	<% @microbreweries.each do |m| %>
    	
    		<%= link_to(microbrewery_path(m)) do %>
    		 
        
            <li>
                <strong> <%= m.name %> </strong> -- <%= m.direction %>
            </li>

             
           
        <% end %>
       <% end %>
    </ul>

    <%= link_to "Add a Microbrewery!", new_microbrewery_path %>